.fullpage {
    display:flex;
    flex-wrap:wrap;
    margin:auto;
}
h1 {
    border-bottom: 4px solid;
    border-color: white;
    margin-bottom: 20px
}
.text-separator {
    border-bottom: 2px solid;
    border-color: white;
}

.text-section {
    margin-left: 5px;
    margin-bottom: 5px;
    display: block;
}
.left-hand{
    float: left;
    background-color: #242424;
    color: white;
    padding: 5px;
    height: 100%;
    max-width: 200px;
    margin-top: 40px;
    margin-left: 5px;
}

